@font-face {
  font-family: "Paperozi";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/2408-3@1.0/Paperlogy-1Thin.woff2")
    format("woff2");
  font-weight: 100;
  font-display: swap;
}
/* 다크모드 색상 */
:root {
  --body_backgroud: #101010;
  --body_color: #fff;
  --heading_color: #ffe400;
}
/* 라이트모드 색상 */
[data-theme="light"] {
  --body_backgroud: #fff;
  --body_color: #000;
  --heading_color: #000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Pretendard", sans-serif;
  background-color: var(--body_backgroud);
  color: var(--body_color);
}

.align_center {
  display: flex;
  align-items: center;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.3s ease-in-out;
}

html {
  scroll-behavior: smooth;
}
